# QUEUE INFORMATIONS
RABBITMQ_HOST=localhost
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
PUBLICATION_QUEUE=publication_queue
PUBLICATION_EXCHANGE=publication_exchange
PROCESS_PUBLICATION_QUEUE=process_publication_queue
PROCESS_PUBLICATION_EXCHANGE=process_publication_exchange
PUBLICATION_ERROR_QUEUE=publication_error_queue
PUBLICATION_ERROR_EXCHANGE=publication_error_exchange
DATASET_QUEUE=dataset_queue
DATASET_EXCHANGE=dataset_exchange
PIPELINE_START_QUEUE=pipeline_start_queue
PIPELINE_START_EXCHANGE=pipeline_start_exchange
INSTITUTION_QUEUE=institution_queue
INSTITUTION_EXCHANGE=institution_exchange

#PYALEX EMAIL
PYALEX_EMAIL=

#DATABASE INFORMATIONS
MONGODB_CONN=mongodb://mongo:27017/
MONGODB_PUBLICATIONS_TABLE=publications
MONGODB_AUTHORS_TABLE=authors
MONGODB_DATASETS_TABLE=datasets
MONGODB_INSTITUTIONS_TABLE=institutions
MONGODB_TOPICS_TABLE=topics
MONGODB_JOURNALS_TABLE=journals

#ELASTICSEARCH INFORMATIONS
ELASTIC_URL=
ELASTIC_API_KEY=
ELASTIC_CA_CERTIFICATE=

#BASIC AUTHENTICATION INFORMATIONS TO API
BASIC_USERNAME=foo
BASIC_PASSWORD=bar

#PORT TO EXPOSE
PORT=80

#DIMENSIONS INFORMATIONS
DIMENSIONS_API_KEY=
DIMENSIONS_ENDPOINT=https://app.dimensions.ai
